*{
    box-sizing: border-box;
}

html{
    direction: rtl;
    font-size: 1vw;
    background: #E5E5E5;
}

body{
    background-image: url("./images/mainback.jpg");
    background-size: cover;
    background-position: bottom center;;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

/*navigation bar settings*/
.navbar{
    background-color: #FFFFFF;
    width: 75em;
    border-radius: 0px 0px 0px 50px;
    font-family: Assistant;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    text-align: right;
    color: #000000;
    padding: 1em;
}

.navgrid{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    height: 3em;
}

.navgrid > div > a{
    text-decoration: none;
    color: #000000;
}

.navgrid > div > a:hover{
    color: #00A2DC;
}

/*login screen settings*/
.login{
    background: linear-gradient(to left, rgba(255,255,255,1), rgba(255,255,255,0.8));
    width: 25%;
    position: absolute;
	top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 0px 0px 0px 50px;
    font-family: Assistant;
    font-weight: bold;
    font-size: 1.5em;
    color: #00A2DC;
    padding: 1em;
}

#email, #password{
    background-color: transparent;
    border-radius: 10px;
    border-width: 1px;
    width: 100%;
    height: 5vh;
}

.submit{
    height: 2rem;
    width: 9rem;
    background: #00A2DC;
    border-radius: 0.5em;
    font-family: Assistant;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.keeplogin{
    color: #000000;
    font-size: 0.7em;
}

.forgetpass{
    font-family: Assistant;
    font-style: normal;
    font-weight: bold;
    font-size: 0.6em;
    text-align: right;
    text-decoration-line: underline;
    color: #000000;
}

/*extra login options settings*/
.newoption{
    font-family: Assistant;
    font-style: normal;
    font-weight: bold;
    font-size: 0.6em;
    text-align: right;
    color: #000000;
}

.login > label{
    font-family: Assistant;
    font-style: normal;
    font-weight: normal;
    font-size: 0.5em;
    color:#000000;
}

.login > form{
    display:flex;
    flex-direction: column;
}

.loginbtn{
    height: 2rem;
    width: 9rem;
    background: #00A2DC;
    border-radius: 0.5em;
    font-family: Assistant;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    color: #FFFFFF;
    border: none;
}
